# first list the packages you wish to download from PyPI
teachbooks # depends on jupyter-book v1

# Our favourite Sphinx extensions in one line, replace with individual extensions if you prefer some extensions not to be included (https://github.com/TeachBooks/TeachBooks-Favourites)
git+https://github.com/TeachBooks/TeachBooks-Favourites

# TU Delft specific packages
--extra-index-url https://gitlab.tudelft.nl/api/v4/projects/11239/packages/pypi/simple
sphinx-thebe~=0.9.9

# Docutils version for reference page formatting
docutils==0.17.1
